.ddsmoothmenu{
	/*font-size:0.9em; font-weight:bold*/
	width: 100%;
    
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
	border-right:1px solid #69b4e9;
	border-left:1px solid #f2f2f2;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
padding: 0px 10px;
line-height:25px;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	/*Color Text*/
	color: #000;
}

.ddsmoothmenu ul li.active a, .ddsmoothmenu ul li.active a:hover{
	/*background active*/
	background:#f2f2f2;
}
.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover{
	/*background active*/
	background:#f2f2f2;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
margin-left:-2px;
margin-top:0px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
border-right:1px solid #ccc;
border-left:1px solid #ccc;
}

.ddsmoothmenu .top{
border-top:1px solid #ccc;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 255px; /*width of sub menus*/
/*border-bottom: 1px solid #b6c9e3;
background: #dae4f1;*/
border-bottom: 1px solid #ddd;
background: #f2f2f2;
padding-left:10px;
text-transform:none;
}
.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover{
	/*background active*/
	background: #e4eef9;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 10px;
right: 10px; /*right: 20px;*/
}

.rightarrowclass{
position: absolute;
top: 8px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0px;
top: 0;
width: 0;
height: 0;
background: transparent;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 1;
}